:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: block !important;
}

p, li {
  color: #032075 !important;
}

#header-sect {
 padding-left: 5%;
 padding-right: 5%;
}

#root {
  padding: 0 !important;
  max-width: none;
}

input:focus {
  border: #EA322E 2px solid !important;
}

.job-listing:hover {
  border-left: '5px solid #032075' !important;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.linkanchor:hover {
  transition: ease-in-out 200ms;
  color: #ff4a47 !important;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5 {
  color: #040037;
}

.interested-btn {
  background-color: #EA312D !important;
}

.interested-btn:hover {
  transition: 200ms ease-in-out;
  background-color: #ff4a47 !important;
}

.search-input:focus {
  transition: 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px inset;
  border: 2px solid #2545a7 !important;
}

.listing-details {
  font-size: 17px;
  list-style-type: disc;
}
.listing-not {
  font-weight: 300;
}

button:hover {
  transition: 150ms ease-in-out;
  background-color: rgb(58, 82, 157);
  color: white;
}

#listing-li-input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#listing-ind-input {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #032075;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#signup-org-hold, #signup-info-hold, #email-pass-hold, #current-chat-holder, #main-chat-holder, .edit-input, #profile-cancel-btn{
  transition: ease-in-out 600ms;
}
.userchat-hold {
  transition: ease-in-out 850ms;
}

@media screen and (max-width: 960px) {
  #listing-holder {
    width: 100% !important;
    padding: 0 !important;
  }
  .liilj-hold {
    flex-direction: column !important;
    align-items: left;
    width: 100% !important;
  }
  .ilj-o-hold {
    flex-direction: column-reverse !important;
  }
  .lio-hold {
    justify-content: center;
    width: 100% !important;
  }
  .lidesc-hold, .tsd-hold {
    flex-direction: column;
    text-align: left;
  }
  #listing-para-div, #listing-buttons-div, .ts-hold {
    width: 100% !important;
  }
  #buttonsndate {
    align-items: center;
  }
  #td-div {
    margin-bottom: 25px;
  }
  #listing-buttons-div{
    justify-content: center !important;
  }
  .listing-details {
    margin-bottom: 15px !important;
  }
  .listing-not {
    margin-bottom: 5px !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
